{
  "extends": "airbnb",
  "plugins": [
    "mocha"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "curly": 2,
    "eqeqeq": 2
  },
  "env": {
    "node": true
  }
}

